:root{
    --section-background-color: #d90429;
}
body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(./media/backgrpund-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wv;
}
section{
    height: 750px;
    background-color: var(--section-background-color);
    border-radius: 10px;
}
.led{
        background-color: green;
        border-radius: 100%;
        width: 50px;
        height: 50px;
}
