:root{
    --section-background-color: #d90429;
}
body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(./media/backgrpund-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wv;
}
section{
    height: 750px;
    width: 500px;
    background-color: var(--section-background-color);
    border-radius: 10px;
    
}
.big-led{
    background-color: blue;
    border-radius: 100%;
    border: solid 4px white;
    width: 50px;
    height: 50px;
}
.leds{
    width: 100px;
    height: 30px;
    border: solid 3px white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.led{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: solid 2px black;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
