:root{
    --section-background-color: #d90429;
    --leds-background-color: #D1D5CB;
}

body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(./media/backgrpund-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wv;
}
section{
    height: 750px;
    width: 500px;
    background-color: var(--section-background-color);
    border-radius: 10px;
    
}

/* Led grande */
.big-led{
    background-color: #00b4d8;
    border-radius: 100%;
    border: solid 4px var(--leds-background-color);
    width: 50px;
    height: 50px;
    box-shadow: -2px 2px 5px black;
}
.big-led-dot{
    background-color: #90e0ef;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top:3px
}
/* 3 Leds en la izquierda superiores */
.leds{
    width: 100px;
    height: 30px;
    /* border: solid 3px white; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--leds-background-color);
    box-shadow: -2px 2px 4px black;
}
.led{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: solid 2px black;
    box-shadow: -0.8px 0.8px 1px black;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: #ffdd32;
}
.dot{
    width: 10px;
    height: 10px;
    border: 0;
    position: relative;
    left: 2px;
    top:1px;
    border-radius: 100%;
}
.dot-red{
    background-color: rgba(253, 106, 106, 0.781);
}
.dot-green{
    background-color: rgb(94, 190, 94);
}
.dot-yellow{
    background-color: #ffee99;
}